<!DOCTYPE html>
<html>
<head>
  <title>Paintr</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%star = "transparent-div starry_night"%>
<div class="<%=star%>"></div>

<% if current_user  %>
<script>
  window.CURRENT_USER_ID = <%= current_user.id %>
  window.CURRENT_USERNAME = "<%= current_user.username %>"
</script>
<% end %>

<%= flash[:errors] %>

<%= yield %>

</body>
</html>
